@model IEnumerable<ProyectoGGStore.Models.Product>

@{
    ViewData["Title"] = "Catálogo";
}

<div class="container">
    <h1>Bienvenido al Catálogo</h1>
    
    <div class="row">
        @foreach (var producto in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <!-- Ruta corregida para la imagen -->
                    <img src="@Url.Content("~/images/" + producto.ImageUrl)" class="card-img-top" alt="@producto.Name">
                    <div class="card-body">
                        <h5 class="card-title">@producto.Name</h5>
                        <p class="card-text">@producto.Description</p>
                        <button class="btn">Añadir al Carrito</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
