@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a GG Store 🎮</h1>
    <p>¡La mejor tienda de artículos gamer del universo!</p>
    <a class="btn btn-primary mt-3" href="/Products">Ver Catálogo</a>
</div>
