@{
    ViewData["Title"] = "Crear Orden";
}
<h2>Crear Nueva Orden</h2>
<form>
    <div class="mb-3">
        <label class="form-label">Nombre del Cliente</label>
        <input type="text" class="form-control" placeholder="Ej: Juan Pérez" />
    </div>
    <div class="mb-3">
        <label class="form-label">Producto</label>
        <input type="text" class="form-control" placeholder="Ej: Teclado Mecánico" />
    </div>
    <button type="submit" class="btn btn-success">Enviar Orden</button>
</form>
