@{
    ViewData["Title"] = "Finalizar Compra";
}

<h2 class="mb-4 text-neon">Checkout</h2>

<div id="checkout-summary" class="mb-4"></div>

<h4 class="text-info">Seleccioná un método de pago</h4>

<form id="paymentForm" onsubmit="confirmOrder(event)">

    <!-- TARJETAS -->
    <div class="mb-3">
        <label class="form-label text-light">Tarjetas:</label>
        <select class="form-select" id="cardPayment" onchange="toggleCardFields()">
            <option disabled selected>Seleccioná un banco</option>
            <option value="BCP">Tarjeta BCP</option>
            <option value="Interbank">Tarjeta Interbank</option>
            <option value="BBVA">Tarjeta BBVA</option>
            <option value="OTiabank">Tarjeta Scotiabank</option>
        </select>
    </div>

    <!-- CAMPOS DE TARJETA -->
    <div id="cardFields" class="mb-4 d-none">
        <div class="mb-2">
            <label class="form-label text-light">Número de tarjeta</label>
            <input type="text" class="form-control" id="cardNumber" maxlength="16">
        </div>
        <div class="mb-2">
            <label class="form-label text-light">CVV</label>
            <input type="text" class="form-control" id="cardCVV" maxlength="3">
        </div>
        <div class="mb-2">
            <label class="form-label text-light">Fecha de expiración</label>
            <input type="month" class="form-control" id="cardExp">
        </div>
        <div class="mb-2">
            <label class="form-label text-light">Nombre del titular</label>
            <input type="text" class="form-control" id="cardName">
        </div>
    </div>

    <!-- BILLETERAS -->
    <div class="mb-3">
        <label class="form-label text-light">Billeteras digitales:</label><br />
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="wallet" value="Yape" onclick="clearCardSelection()">
            <label class="form-check-label text-light">Yape</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="wallet" value="Plin" onclick="clearCardSelection()">
            <label class="form-check-label text-light">Plin</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="wallet" value="Tunky" onclick="clearCardSelection()">
            <label class="form-check-label text-light">Tunky</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="wallet" value="PayPal" onclick="clearCardSelection()">
            <label class="form-check-label text-light">PayPal</label>
        </div>
    </div>

    <button type="submit" class="btn btn-success mt-2">Confirmar Pedido</button>
</form>

<div id="checkout-message" class="mt-4 text-success fw-bold"></div>
