@{
    ViewData["Title"] = "Tu Carrito";
}
<h2>Carrito de Compras</h2>

<div id="cart-items"></div>
<h4>Total: $<span id="cart-total">0</span></h4>
<button class="btn btn-danger" onclick="clearCart()">Vaciar Carrito</button>
