@{
    ViewData["Title"] = "Catálogo Gamer";
}
<h2>Catálogo</h2>


<div class="card bg-light text-dark p-3 mb-4" style="width: 22rem;">
    <img src="~/images/1.png" class="card-img-top" alt="Teclado RGB">

    <div class="card-body">
        <h5 class="card-title">Teclado RGB</h5>
        <p class="card-text">Full anti-ghosting, switches azules</p>
        <p class="text-success fw-bold">$80</p>
        <button class="btn btn-primary add-to-cart"
                data-id="1"
                data-name="Teclado RGB"
                data-price="80">
            Agregar al carrito
        </button>
    </div>
</div>

<div class="card bg-light text-dark p-3 mb-4" style="width: 22rem;">
    <img src="~/images/1.png" class="card-img-top" alt="Teclado RGB">

    <div class="card-body">
        <h5 class="card-title">Teclado RGB</h5>
        <p class="card-text">Full anti-ghosting, switches azules</p>
        <p class="text-success fw-bold">$80</p>
        <button class="btn btn-primary add-to-cart"
                data-id="1"
                data-name="Teclado RGB"
                data-price="80">
            Agregar al carrito
        </button>
    </div>
</div>
